@import '../../../../styles/mixin';
.subHeader{
    @include flexProp(space-around,none,wrap);
    border-top: 0.03rem solid rgb(238, 231, 231);
    border-bottom: 0.06rem solid rgb(238, 231, 231);
    padding: 0.5rem;
    box-shadow: 0.12rem 0.12rem rgb(238, 231, 231);
    .foodCategory{
       @include flexProp(space-around,none,wrap);
    }
    .categoryList{
        list-style-type: none;
        color: grey;
        margin-right: 1rem;

        &:hover{
            background-color: rgba(228, 220, 220,0.5);
            cursor: pointer;
        }
        &:first-of-type{
            margin-left: 6rem;
        }
        &:last-of-type{
            margin-right: 5rem;
        }
    }
    #extracategories{
        text-align: center;
        border: none;
        color: grey;
        &:hover{
            cursor: pointer;
            border: none;
        }
    }
    
}

