@import "mixin";

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Okra', Helvetica;
}
.container1{
    @include flexProp(space-between,center,wrap);
    padding: 1.5rem;
}
.blinkit-logo:hover{
    cursor: pointer;
}
.logo-location{
    width: 22rem;
    @include flexProp(space-between,center,wrap);
}
.logo{
    padding-right: 0.5rem;
    border-right: 0.1rem solid rgb(238, 231, 231);
}
.location{
    div{
        font-weight: bolder;
        font-size: larger;
    }
    select{
        border: none;
        &:hover{
            cursor: pointer;
        }
    }
}
.search{
    @include flexProp(space-around,none,wrap);
    flex-grow: 4;
    flex-shrink: 4;
    width: 40rem;
    height:1.75rem;
}
button{
    background: none;
    border: none;
    &:hover{
        cursor: pointer;
    }
}
select:hover{
    cursor: pointer;
    border: none;
}
.search-bar{
   width: 50rem;
   height: 2rem;
   margin-top: -0.3rem;
   border: 0.03rem solid rgb(238, 231, 231);
   box-shadow: 0.12rem 0.12rem rgb(238, 231, 231);
}
.login-cart{
    @include flexProp(space-between,none,wrap);
    width: 10rem;
    & div:last-of-type(){
        @include flexProp(none,none,wrap)
    }
}
.login{
    text-align: center;
    margin-top: 0.4rem;
    margin-left:1.2rem;
    &:hover{
        cursor:pointer;
    }
}
.cart{
    @include flexProp(space-between,center,wrap);
    background-color: rgb(52, 197, 52);
    margin-left: 0.5rem;
    margin-right: 0.1rem;
    padding-right: 0.4rem;
    padding-left:0.3rem;
    width: 5rem;
    height: 2rem;
    border: none;
    border-radius: 0.25rem;
}
.foodbar{
    @include flexProp(space-around,none,wrap);
    border-top: 0.03rem solid rgb(238, 231, 231);
    border-bottom: 0.06rem solid rgb(238, 231, 231);
    padding: 0.5rem;
    box-shadow: 0.12rem 0.12rem rgb(238, 231, 231);
    ul{
       @include flexProp(space-between,none,wrap);
    }
    li{
        list-style-type: none;
        color: grey;
        margin-right: 1rem;

        &:hover{
            background-color: rgba(228, 220, 220,0.5);
            cursor: pointer;
        }
    }
    li:first-of-type{
        margin-left: 6rem;
    }
    li:last-of-type{
        margin-right: 5rem;
    }
    select{
        text-align: center;
        border: none;
        color: grey;
    }
}
.sidebar{
    width: 40rem;
    margin-left: 9rem;
    &>div{
        @include flexProp(none,center,nowrap);
        border: 0.03rem solid  rgb(238, 231, 231);;  

    }
    div{
        img{
            width:4rem;
            height:4rem;
            border: none;
            border-radius: 1.5rem;
            padding: 1rem;
        }
        &:hover{
            background-color: rgba(186, 233, 186,0.5);
        }
    }
}
.main-page{
    @include flexProp(space-around,none,nowrap);
}

.main{
    width:160rem;
    flex-grow: 4;
    margin-right: 10rem;
}

.main1{
    @include flexProp(space-between,none,wrap);
    select{
        color: green;
    }
    div{
        padding: 0.6rem 1rem;
        &:first-of-type{
            font-weight: bolder;
        }
    }
}
.main2{
    @include flexProp(none,none,wrap);
    &>div{
        border: 0.03rem solid rgb(238, 231, 231);
        width: 15rem;
    }
}
.main2-offer{
    background-color: #538cee;
    color: white;
    border: none;
    border-radius: 0.25rem;
    margin-right: 9rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.main2-image{
    img{
        width: 8rem;
        margin-left: 3.5rem;
        border: none;
    }
}
.main2-source{
    text-align: end;
    margin-right: 1rem;
    margin-left: 5rem;
    background-color:  rgb(235, 255, 239);
    color: rgb(58, 183, 87);
}
.main2-name{
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.main2-weight{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: grey;
}

.main2-last{
    @include flexProp(space-between,none,wrap);
    margin: 0.5rem;
    padding-right: 2rem;
}
.main2-price{
    text-decoration: line-through;
    color:grey;
}
.adding-btn-div{
    @include flexProp(space-around,none,wrap);
    width: 6rem;
    height: 2rem;
    background-color: rgb(235, 255, 239);
    border-radius: 0.25rem;
    border: 0.03rem solid green;
    font-weight: bolder;
}
.adding-btn{
    color: green;
    font-weight: bolder;
}
.minus , .count, .plus{
    color:white;
    font-weight: bolder;
}
.speciality{
    @include flexProp(space-around,none,wrap);
    margin-top: 6rem;
    margin-left: 10rem;
    margin-right: 10rem;
    & > div{
        width: 23rem;
        border: 0.03rem solid rgb(238, 231, 231);
        border-radius: 1rem;
    }
    img{
        width: 6rem;
        margin: 0 9rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    p{
        text-align: center;
        &:first-of-type{
            font-weight: bolder;
        }
        &:last-of-type{
            padding: 1rem 1rem 2rem 1rem;
            color: grey;
        }
    }
}
.information{
    width: 79rem;
    margin: 3rem 10rem;
    p{
        padding: 0 2rem 2rem 2rem;
        color: grey;
        border-bottom: 0.03rem solid rgb(238, 231, 231);
    }
}

.fotter{
    @include flexProp(none,none,wrap);
    background-color: rgba(246, 240, 240, 0.36);
    div{
        margin-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        &:nth-of-type(2){
            @include flexProp(none,none,wrap);
            width: 30rem;
            p{
                font-weight: bolder;
                padding-right: 1rem;
                text-align: center;
            }
        }
        &:first-of-type{
            padding-left: 10rem;
            width: 28rem;
        }
        &:last-of-type{
            width: 12rem;
            margin-left: 4rem;
        }
    }
    p{
        color: grey;
    }
    .download-text{
        padding-top: 0.6rem;
    }
    img{
        width: 8rem;
        height:2.5rem;
        text-align: center;
        &:first-of-type{
            margin-right: 1rem;
        }
    }
    svg:hover{
        cursor: pointer;
    }
}


