@import '../../../../styles/mixin';

.blinkitLogo{
    width: 6rem;
    height: 5rem;;
    border-right: 0.1rem solid rgb(238, 231, 231);
    padding-right: 0.9rem;
    &:hover{
        cursor: pointer;
    }
}
.leftHeader{
    @include flexProp(space-between,center,wrap);
}
.location{
    padding-left: 0.3rem;
    .deliveryTime{
        font-weight: bolder;
        font-size: larger;
    }
    #locationOptions{
        border: none;
        &:hover{
            cursor: pointer;
        }
    }
}