@import '../../../../styles/mixin';

.loginCart{
    @include flexProp(space-between,center,nowrap);
    min-width: 10rem;
    & div:last-of-type(){
        @include flexProp(none,none,wrap)
    }
}
.login{
    margin-left:1rem;
    &:hover{
        cursor:pointer;
    }
}
.cart{
    @include flexProp(space-between,center,nowrap);
    background-color: rgb(52, 197, 52);
    margin-left: 0.5rem;
    margin-right: 0.1rem;
    padding-right: 0.4rem;
    padding-left:0.3rem;
    min-width: 5rem;
    min-height: 2.5rem;
    border: none;
    border-radius: 0.25rem;
    &:hover{
        cursor: pointer;
    }
}
.cartLogo{
    font-size: larger;
}